:root {
  --main-color: rgba(255, 255, 255, 0.5);
}

/* Общие настройки */
* {
  margin: 0;
  padding: 0;
}

h1,
p {
  text-align: center;
}

.mainDiv,
p {
  font-size: 1.2rem;
}

h1 {
  margin-bottom: 1rem;
}

body {
  background-image: url("/img/background.svg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Верхняя часть сайта */
header {
  display: flex;
  justify-content: center;
  gap: 3vw;
  height: 10vh;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

/* Средняя часть сайта */

main {
  height: 85vh;
  overflow-y: auto;
}

main::-webkit-scrollbar {
  width: 0;
}

.mainDiv {
  background-color: var(--main-color);
  border: 10px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 1rem;
  margin: 0 auto 1rem auto;
  text-align: center;
  width: 90vw;
}

/* Нижняя часть сайта */
footer {
  height: 5vh;
}

/* Элементы раздела меню */

#menu {
  display: grid;
  justify-content: center;
  gap: 1rem;
  width: 80vw;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, 300px);
}

.dish {
  position: relative;
  border: 10px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  background-color: var(--main-color);
  height: 440px;
  width: 280px;
}

.dish div {
  border: 1px solid red;
  position: absolute;
  height: 200px;
  width: 200px;
  right: 50px;
  bottom: 20px;
  border-radius: 3rem;
}

.dish p {
  margin: 10px;
}

.dish h1 {
  margin-top: 10px;
}

/* Раздел About */

.main_about_page {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

.cook {
  width: 300px;
  height: 300px;
  background-size: cover;
  margin: 0 auto;
}

.about {
  border: 10px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  background-color: var(--main-color);
  width: 90vw;
  margin: 0 auto;
}

.about p {
  margin: 0 auto 1rem auto;
  text-align: start;
}
