:root {
  --main-color: rgba(255, 255, 255, 0.5);
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* Общие настройки */
* {
  margin: 0;
  padding: 0;
}

h1,
p {
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
}

body {
  background-image: url("/img/background.svg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Верхняя часть сайта */
header {
  display: flex;
  justify-content: center;
  gap: 3vw;
  height: 10vh;
}

header a {
  text-decoration: none;
  color: black;
}

/* Средняя часть сайта */

main {
  height: 85vh;
  width: max(300px, 70vw);
  margin: 0 auto;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  width: 0;
}

main h3 {
  margin: 0;
}

main div {
  background-color: var(--main-color);
  border: 10px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Нижняя часть сайта */
footer {
  height: 5vh;
}
